# Byte-compiled / optimized / DLL files
__pycache__/

# Build artifacts
*.egg-info/
build/

# Distribution / packaging
.mypy_cache/
.ruff_cache/
.pytest_cache/
.venv/
.coverage
.nox/

# IDEs and editors
.vscode/
.history/

# pip packages
dist/
*.egg-info/


# uv env
uv.lock
